In [1]:
from sklearn import datasets,preprocessing
import pandas as pd

In [2]:
data = pd.read_csv('iris.csv',header=None)

In [3]:
data

       0    1    2    3               4
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       150 non-null    float64
 1   1       150 non-null    float64
 2   2       150 non-null    float64
 3   3       150 non-null    float64
 4   4       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
X=data[2]
Y=data[3]

In [6]:
X

0      1.4
1      1.4
2      1.3
3      1.5
4      1.4
      ...
145    5.2
146    5.0
147    5.2
148    5.4
149    5.1
Name: 2, Length: 150, dtype: float64

In [7]:
Y

0      0.2
1      0.2
2      0.2
3      0.2
4      0.2
      ...
145    2.3
146    1.9
147    2.0
148    2.3
149    1.8
Name: 3, Length: 150, dtype: float64

In [8]:
def summation(ls):
    sum=0
    
    for i in ls:
        sum=sum+i
    return sum

In [9]:
x_mean = summation(X)/len(X)
y_mean = summation(Y)/len(Y)
print(x_mean)
print(y_mean)

3.7586666666666693
1.1986666666666672

In [10]:
x_y = 0;
x_x = 0;
y_y = 0;
n=len(X)
for i in range(n):
    x_y += ( (X[i] - x_mean) * (Y[i] - y_mean) )
    x_x += ( (X[i] - x_mean) * (X[i] - x_mean) )
    y_y += ( (Y[i] - y_mean) * (Y[i] - y_mean) )


c_xy = x_y / ( n - 1 )
c_xx = x_x / ( n - 1 )
c_yy = y_y / ( n - 1 )

In [11]:
c = [ [c_xx, c_xy], [c_xy, c_yy] ]
c

[[3.1131794183445156, 1.2963874720357946],
 [1.2963874720357946, 0.5824143176733784]]

In [12]:
import numpy as np
vals, vecs = np.linalg.eig(c)

In [13]:
print(vals,vecs)

[3.65937449 0.03621925] [[ 0.92154695 -0.38826694]
 [ 0.38826694  0.92154695]]

In [14]:
max_val = vals[0]
maxi = 0
for i in range(len(vals)):
    if max_val < vals[i]:
        maxi = i
        max_val = vals[i]
e_val = vals[maxi]
e_vec = vecs[:,maxi]
V = e_vec

In [15]:
V

array([0.92154695, 0.38826694])

In [16]:
res = []
for i in range(len(X)):
    res.append(( X[i] * V[0] ) + ( Y[i] * V[1] ) )
ans= pd.DataFrame(res)
ans

            0
0    1.367819
1    1.367819
2    1.275664
3    1.459974
4    1.367819
..        ...
145  5.685058
146  5.345442
147  5.568578
148  5.869367
149  5.398770

[150 rows x 1 columns]

## With Inbuilt function

In [17]:
from sklearn.decomposition import PCA
pca = PCA(n_components = 2)

In [18]:
X=data.iloc[:,0:4]

In [19]:
principalComponents = pca.fit_transform(X)
principalDF = pd.DataFrame(data = principalComponents, columns = ['PCA1', 'PCA2'])
finalDF = pd.concat([principalDF, data[[4]]], axis = 1)
finalDF

         PCA1      PCA2               4
0   -2.684207  0.326607     Iris-setosa
1   -2.715391 -0.169557     Iris-setosa
2   -2.889820 -0.137346     Iris-setosa
3   -2.746437 -0.311124     Iris-setosa
4   -2.728593  0.333925     Iris-setosa
..        ...       ...             ...
145  1.944017  0.187415  Iris-virginica
146  1.525664 -0.375021  Iris-virginica
147  1.764046  0.078519  Iris-virginica
148  1.901629  0.115877  Iris-virginica
149  1.389666 -0.282887  Iris-virginica

[150 rows x 3 columns]